.mySlides {
    height: 300px;
    max-height: 50vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
span:hover {
    text-decoration: underline;
    cursor: pointer;
}
.demo {
    max-width: 100%;
}
.demo:hover {
    opacity: 1;
}
agm-map {
    height: 300px;
  }